<div>


    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3"> Contacta-nós </h1>
            <p class="text-center" data-animation="fadeInLeft" data-delay=".8s">
                Estamos disponíveis para esclarecer dúvidas, apresentar soluções e apoiar o seu negócio.
            </p>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Contacto</li>
                </ol>
            </div>
        </div>
    </div>



    <!--? Pricing Card Start -->
    <section class="pricing-card-area pricing-card-area2 fix contact-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <h4>Telefone</h4>
                            <h3>+244 932 252 618</h3>
                            <p>De segunda a sexta, das 7h00 as 16h00min.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <h4>Email</h4>
                            <h3><a href="mailto:secretaria@ecco.ao"> secretaria@ecco.ao </a></h3>

                            <p>Envie-nos sua pergunta a qualquer momento!</p>


                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <h4>Endereço</h4>
                            <h3>Luanda, Angola</h3>
                            <p>Luanda</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Card End -->



    <div class="map-main">
        <!-- Embedded Google Map -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63083.998607234906!2d13.231723000000017!3d-8.809549513773646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f15cdc8d2c7d%3A0x850c1c5c5ecc5a92!2sLuanda!5e0!3m2!1sen!2sao!4v1773870709372!5m2!1sen!2sao"
            width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>

</div>