<div>

    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3"> Nossos Serviços de Consultoria</h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#/">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Serviços </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- About Content -->
        <div class="about-main">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded mb-4" src="./assets/images/services-img-01.jpg" alt="" />
                </div>
                <div class="col-lg-6">
                    <h2>Consultoria Contabilística</h2>
                    <p>Ajudamos empresas a manter a sua contabilidade organizada, atualizada e em conformidade com a legislação. A nossa equipa trata de todo o processo contabilístico para que o cliente possa concentrar-se no crescimento do seu negócio,
                        tendo sempre uma visão clara da sua situação financeira.
                    </p>
                    <ul>
                        <li>Organização contabilística.</li>
                        <li>Recuperação de contabilidade.</li>
                        <li>Encerramento de exercícios fiscais.</li>
                        <li>Acompanhamento contabilístico.</li>
                        <li>Outsourcing de contabilidade.</li>
                        <li>Processamento e pagamento salarial.</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="about-inner">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="left-ab">
                        <h3>Consultoria Fiscal</h3>
                        <p>Ajudamos empresas a cumprir corretamente todas as suas obrigações fiscais, evitando multas, problemas legais e atrasos no pagamento de impostos. Tratamos de todos os processos fiscais para garantir que a empresa esteja sempre regularizada
                            perante as autoridades tributárias.</p>
                        <ul>
                            <li>Gerimos o cálculo, processamento e pagamento de impostos.</li>
                            <li>Preparamos e entregamos as demonstrações financeiras obrigatórias..</li>
                            <li>Representamos e acompanhamos empresas em inspeções fiscais.</li>
                            <li>Realizamos o registo da empresa no portal da AGT.</li>
                            <li>Emitimos documentos fiscais como DLI e DAR.</li>
                            <li>Tratamos da regularização de dívidas fiscais.</li>
                            <li>Obtemos a declaração de não dívida para empresas.</li>
                            <li>Elaboramos o dossier de preços de transferência quando exigido.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-ab">
                        <img class="img-fluid rounded mb-4" src="./assets/images/services-img-02.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="right-ab">
                        <img class="img-fluid rounded mb-4" src="./assets/images/services-img-03.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="left-ab">
                        <h3>Consultoria Jurídica</h3>
                        <p>Prestamos apoio jurídico empresarial para garantir que o seu negócio funcione dentro da legalidade e com toda a documentação necessária. Ajudamos desde a criação da empresa até à regularização de licenças e documentos legais.</p>
                        <ul>
                            <li>Ajudamos na criação e constituição legal da sua empresa.</li>
                            <li>Tratamos de processos de legalização e regularização empresarial.</li>
                            <li>Auxiliamos na obtenção e tratamento de alvarás.</li>
                            <li>Tratamos de licenças necessárias para o exercício da atividade empresarial..</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="left-ab">
                        <h3>Consultoria Financeira</h3>
                        <p>Apoiamos empresas na tomada de decisões financeiras estratégicas que impulsionam o crescimento e melhoram os resultados do negócio. Através de análises e planeamento financeiro, ajudamos os clientes a gerir melhor os seus recursos
                            e a expandir as suas atividades.</p>
                        <ul>
                            <li>Orientamos gestores e empresários na tomada de decisões estratégicas.</li>
                            <li>Realizamos estudos de viabilidade para novos projetos ou investimentos.</li>
                            <li>Analisamos a situação económica e financeira da empresa.</li>
                            <li>Elaboramos projectos para expansão e crescimento empresarial.</li>
                            <li>Oferecemos coaching financeiro para melhorar a gestão de recursos.</li>
                            <li>Realizamos palestras e formações em desenvolvimento pessoal e empresarial.</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-ab">
                        <img class="img-fluid rounded mb-4" src="./assets/images/services-img-04.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Contact Us -->
    <div class="touch-line">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Todos os nossos serviços podem ser prestados no seu escritório ou empresa. A nossa equipa vai ao seu encontro para prestar o melhor apoio profissional.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-secondary btn-block" href="#/contato"> Contacte-nos </a>
                </div>
            </div>
        </div>
    </div>

</div>