<div>


    <!-- full Title.. -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3"> Noticias </h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Noticias</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="blog-main">
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8 blog-entries">
                    <div class="row">
                        <!-- Blog Post -->
                        <div class="col-md-6" v-for="post in postsFiltrados" :key="post.id">
                            <div class="card mb-4">
                                <img class="card-img-top" :src="caminho_img + post.imagem" alt=""
                                    style=" height: 250px; object-fit: cover;" alt="Card image Blog" />
                                <div class="card-body">
                                    <div class="by-post">
                                        Postado em {{ formatarData(post.createdAt) }} por <a href="#">ECCOKAIZEN</a>
                                    </div>
                                    <h2 class="card-title">{{ post.titulo }}</h2>
                                    <p class="card-text limite-linhas5"> {{ post.descricao }}</p>
                                    <a @click="visualizar(post.id)" class="btn btn-primary">Ler mais &rarr;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination_bar_arrow">
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center mb-4">
                            <li class="page-item">
                                <a class="page-link" href="#">&larr; Ant</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Próx &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4 blog-right-side">
                    <!-- Procurar Widget -->
                    <div class="card mb-4">
                        <h5 class="card-header">Procurar</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" v-model="termoBusca"
                                    placeholder="Procurar por...">
                                <span class="input-group-btn">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Nota</h5>
                        <div class="card-body">
                            Podes buscar por Titulo ou SubTitulo!
                        </div>
                    </div>
                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">PALAVRAS Chave</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#"
                                                @click.prevent="selecionarPalavra('Contabilidade')">Contabilidade</a>
                                        </li>
                                        <li>
                                            <a href="#" @click.prevent="selecionarPalavra('fiscal')">Fiscal</a>
                                        </li>
                                        <li>
                                            <a href="#" @click.prevent="selecionarPalavra('gestão')">Gestão</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#" @click.prevent="selecionarPalavra('finanças')">finanças</a>
                                        </li>
                                        <li>
                                            <a href="#" @click.prevent="selecionarPalavra('Jurídica')">Jurídica</a>
                                        </li>
                                        <li>
                                            <a href="#" @click.prevent="selecionarPalavra('Impostos')">Impostos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>


</div>