<header>
    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="social-media">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=61574501940416"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://x.com/ecco2026"><i class="fa-brands fa-x-twitter"></i></a></li>

                            <li><a href="https://www.tiktok.com/@eccokaizen?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href="https://www.instagram.com/ecco2299?igsh=MW14eTQxd2wzdjJ2NA=="><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-details">
                        <ul>
                            <li><i class="fas fa-phone fa-rotate-90"></i> +244 946 751 193</li>
                            <li><i class="fas fa-map-marker-alt"></i> BAIRRO GOLF1 RUA 11 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/' }" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/sobre' }" href="#/sobre">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/servicos' }"
                            href="#/servicos">Serviços</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/noticias' }"
                            href="#/noticias">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/galeria' }"
                            href="#/galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/testemunho' }"
                            href="#/testemunho">Testemunho</a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link" :class="{ active: currentRoute === '/contato' }"
                            href="#/contato">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>