<div>
    <!-- Contact Us -->
    <div class="touch-line">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Todos os nossos serviços podem ser prestados no seu escritório ou empresa. A nossa equipa vai ao
                        seu encontro para prestar o melhor apoio profissional.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-secondary btn-block" href="#"> Contacto-nos </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">ECCOKAIZEN</h5>
                    <p><span><strong>NIF: </strong></span>5002775328</p>
                    <!--headin5_amrc-->
                    <p class="mb10">A nossa missão é ajudar empresas a crescer de forma organizada e sustentável,
                        oferecendo soluções profissionais adaptadas às necessidades de cada cliente.</p>
                    <ul class="footer-social">
                        <li><a class="facebook hb-xs-margin"
                                href="https://www.facebook.com/profile.php?id=61574501940416"><span
                                    class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
                        <li><a class="twitter hb-xs-margin" href="https://x.com/ecco2026"><span
                                    class="hb hb-xs spin hb-twitter"><i class="fa-brands fa-x-twitter"></i></span></a>
                        </li>
                        <li><a class="instagram hb-xs-margin"
                                href="https://www.instagram.com/ecco2299?igsh=MW14eTQxd2wzdjJ2NA=="><span
                                    class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
                        <li><a class="googleplus hb-xs-margin"
                                href="https://www.tiktok.com/@eccokaizen?is_from_webapp=1&sender_device=pc"><span
                                    class="hb hb-xs spin hb-google-plus"><i class="fa-brands fa-tiktok"></i></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h5 class="headin5_amrc col_white_amrc pt2">Links rápidos</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="#/sobre"><i class="fas fa-long-arrow-alt-right"></i>ECCOKAIZEN </a></li>
                        <li><a href="#/servicos"><i class="fas fa-long-arrow-alt-right"></i>Nossos serviços</a></li>
                        <li><a href="#/noticias"><i class="fas fa-long-arrow-alt-right"></i>Blogs / Noticia</a></li>
                        <li><a href="#/galeria"><i class="fas fa-long-arrow-alt-right"></i>Galeria</a></li>
                        <li><a href="#/testemunho"><i class="fas fa-long-arrow-alt-right"></i>Testemunho</a></li>
                        <li><a href="#/contato"><i class="fas fa-long-arrow-alt-right"></i>Entre em contato</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Siga-nos</h5>
                    <!--headin5_amrc ends here-->
                    <ul class="footer_ul2_amrc">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=61574501940416" target="_blank"><i
                                    class="fab fa-facebook fleft padding-right"></i> </a>
                            <p>Facebook... <a href="https://www.facebook.com/profile.php?id=61574501940416"
                                    target="_blank"> <br>ECCO - Escritório De Contabilidade </a></p>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ecco2299?igsh=MW14eTQxd2wzdjJ2NA=="><i
                                    class="fab fa-instagram fleft padding-right"></i> </a>
                            <p>Instagram... <a href="https://www.instagram.com/ecco2299?igsh=MW14eTQxd2wzdjJ2NA=="><br>
                                    ECCOKAIZEN/</a></p>
                        </li>
                        <li>
                            <a href="https://x.com/ecco2026"><i class="fab fa-x-twitter fleft padding-right"></i> </a>
                            <p>Twitter... <a href="https://x.com/ecco2026"><br>https://x.com/ecco2026/</a></p>
                        </li>

                        <li>
                            <a href="https://www.tiktok.com/@eccokaizen?is_from_webapp=1&sender_device=pc"><i
                                    class="fa-brands fa-tiktok fleft padding-right"></i> </a>
                            <p>TikTok... <a
                                    href="https://www.tiktok.com/@eccokaizen?is_from_webapp=1&sender_device=pc"><br>eccokaizen</a>
                            </p>
                        </li>
                    </ul>
                    <!--footer_ul2_amrc ends here-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="news-box">
                        <h5 class="headin5_amrc col_white_amrc pt2">Newsletter</h5>
                        <p>Fique por dentro das melhores soluções para o seu negócio...</p>
                        <form action="#">
                            <div class="input-group">
                                <input class="form-control" placeholder="Pesquisar por..." type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Vai!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="copyright text-center">Todos os direitos reservados. 2026 <a href="#">ECCOKAIZEN</a> Desenvolvido
                pela <a href="https://h-jlsystem.com/"> JLSystem </a>
            </p>
        </div>
    </footer>
    <!-- Scroll Up -->


    <!-- Botão do WhatsApp com efeito piscando -->
    <a href="https://wa.me/244946751193" class="whatsapp-button" target="_blank" title="Fale conosco no WhatsApp">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg" alt="WhatsApp">
    </a>


</div>